
.middle-button {
  width: fit-content; /* Adjusts width to fit buttons and margins */
}

.box-3 { background-color: #66A182; }

.btn {
  line-height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.btn-us {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
}
.btn-us::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}
.btn-us:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.btn-us::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
.btn-us:hover::after {
  opacity: 1;
  transform: scale(1,1);
}


.btn-ue {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
}
.btn-ue::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}
.btn-ue:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.btn-ue::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
.btn-ue:hover::after {
  opacity: 1;
  transform: scale(1,1);
}
